.title {
  width: 500px;
  height: 500px;
  background-image: linear-gradient(to right top, #9ad5ca, #9cd7d0, #9ed8d6, #a2dadc, #a6dbe1, #a5d9e4, #a4d7e7, #a5d5e9, #a3cfea, #a4c8e9, #a8c1e7, #adb9e3);}